<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>display Subjects</title>
		<link rel="stylesheet" href="/assets/style.css" type="text/css" />
	</head>
	<body>
		<div class="titleDiv">
			<h1>Subjects Data</h1>
		</div>

		<div class="tableDiv"  id="subjectsTable">
			<table>
				<tr>
					<th>ID</th>
					<th>Subject Name</th>
				</tr>

				<% subjects.forEach((element) => { %>
				<tr>
					<td><%= element.id %></td>
					<td><%= element.subjectName %></td>
				</tr>
				<% }) %>
			</table>
		</div>

		<div>
			<%- include("partials/footer") %>
		</div>
	</body>
</html>
