<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>School Application</title>
		<link rel="stylesheet" href="/assets/style.css" type="text/css" />
	</head>
	<body>
		<h1 class="titleDiv">School Application</h1>
		<div><%- include("partials/nav") %></div>
	</body>
</html>
