<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Add Student</title>
		<link rel="stylesheet" href="/assets/style.css" type="text/css" />
	</head>
	<body>
		<h1 class="title">Add Student</h1>

		<% if (errors.length) { errors.forEach((err) => { %>
		<p style="color: red"><%= err %></p>
		<% })}; %>

		<form action="/students/add" method="post">
			<label for="first_name">First Name</label>
			<input type="text" name="first_name" />
			<br />

			<label for="last_name">Last Name</label>
			<input type="text" name="last_name" />
			<br />

			<label for="email">Email</label>
			<input type="email" name="email" />
			<br />

			<label>Gender</label>
			<br />
			<label for="male">Male</label>
			<input type="radio" name="gender" value="male" /> <br />
			<label for="female">Female</label>
			<input type="radio" name="gender" value="female" />
			<br />

			<label for="birth_date">Birth Date</label>
			<input type="date" name="birth_date" />
			<br />

			<button type="submit">Save</button>
		</form>
		<button><a href="/students">Back</a></button>
	</body>
</html>
