* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    font-family: 'Oswald', sans-serif;
}

body {
    background: #E0EBE8;
}

nav {
    top: 0px;
    position: fixed;
    width: 100vw;
    display: flex;
    padding: 10px;
    background: #E0EBE8;
    z-index: 1;
}

nav ul{
    display: flex;
    flex-direction: row-reverse;
    padding-right: 20px;
    margin-right: 10vw;
}

nav ul li { 
    margin: 20px;
    list-style-type: none;
}

nav ul li a {
    font-family: 'Oswald', sans-serif;
    color: #3E9C87;
    font-size: 1.5em;
    text-decoration: none;
}

#logo {
    width: 80px;
    margin-left: 100px;
    margin-right: auto;
}

#title-bar {
    padding-top: 180px;
    position: relative;
    height: 70vh;
    margin-bottom: 100px;
}

#title-bar h1,
#title-bar p {
    margin: auto;
    width: 600px;
    position: relative;
    top: 20%;
    text-align: center;
    color: #3E9C87;
}

#title-bar h1 {
    font-size: 4.5em;
    font-family: 'Handlee', cursive;
}

#title-bar p {
    font-size: 1.5em;
}

#language-list {
    padding-top: 120px;
}

#language-list div {
    margin-top: 30px;
    display: flex;
    justify-content: space-around;
    padding: 0px 70px;
    height: 70vh;
}

.progamming-logo {
    height: 250px
}

figcaption {
    text-align: center;
    font-size: 1.2em;
}

figure {
    padding: 40px;
    border: 10px solid #3E9C87;
    border-radius: 10%;
    height: 360px;
}

#language-list h1 {
    display: block;
    text-align: center;
    color: black;
    font-size: 4em;
    margin-bottom: 50px;
}

#contact {
    margin-top: 100px;
    display: block;
    height: 70vh;
    padding-top: 50px;
}

#contact h1 {
    text-align: center;
    font-size: 4em;
}
 
#contact div {
    display: flex;
    justify-content: center;
}

#contact div a {
    margin: 40px;
    font-size: 2em;
    color: black;
    text-decoration: none;
}

footer p {
    margin-top: 20px;
    text-align: right;
    padding-right: 40px;
    padding-bottom: 20px;
}